body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav i {
  font-size: 1.3rem;
}

main,
section {
  display: flex;
  flex-direction: column;
}

main {
  gap: 4rem;
}

section {
  gap: 1rem;
}

.intro-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 4rem;
}

.heading {
  font-size: x-large;
  width: 50vh;
}

.intro-header p {
  padding-top: 0.25rem;
}

.image-container {
  width: 50vh;
  width: 114px;
  overflow: hidden;
}

.image-container img {
  border-radius: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

h5 {
  padding: 0 1rem 0 0;
}

.links-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.link-arrow {
  color: var(--color-link);
  transform: rotate(-45deg);
}

.color-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cards-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-card>div:first-of-type {
  flex: 1;
}

.project-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 0.5rem;
}

.project-links a {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tech-list {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 0.25rem 0;
}

.tech-list div {
  padding: 0.1rem 0.5rem;
  border-radius: var(--border-radius-small);
}

.tech-list p {
  font-size: 0.8rem;
}

@media (min-width: 640px) {

  h5 {
    padding: 0 3rem 0 0;
  }

  .project-card {
    flex-direction: row;
  }

  .project-card .img-div {
    max-width: 30%;
  }
}